@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@-viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;   
    font-size: 100%;
    
    background-image:url(../images/purty_wood.png);
    background-size:auto;
}

body {
    padding: 0;
    margin: 0;
}
    
.masthead {
    overflow: hidden;
    margin: 0 0 2%;
    background-image: url(../images/purty_wood.png); 
    background-size: 100%;
    background-repeat: no-repeat;   
}
.roadmap {
    margin: 0;
    overflow: hidden;
    background-color: white;
    background-image: url(../images/header.jpg);
    background-repeat: repeat;
    background-size: 50rem;
    background-position: center center; 
    box-shadow: .2rem .4rem .4rem .2rem rgba(0, 0, 0, .8);
    border: .35rem;
}
    
.logo {
    height: 4.5rem;
    width: auto;
    margin: .5rem 5%;    
}

article {
    margin: 3;
    padding: 0 5%;
    overflow: hidden;
}

h1 {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;;
    font-weight: bold;
    font-size: 5rem;
    line-height: 5rem;
    color: #000000;
    text-shadow: orange 3px 3px;
    margin: 5%;

}

h1 + p {
    font-family:Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
    line-height:normal;
    font-size: 8rem;
    font-size: 1.5rem;
    line-height:inherit;
    margin: 2;
    padding: 0;
}

p {
    font-family:Georgia, Times, "Times New Roman", serif;
    line-height: 1.5rem;
    font-size: .85rem;
}

h2 {
    font-family:Rockwell, Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
    font-size: 2rem;
    color: #000000;
}

h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
    font-size: .95rem;
    color: #000000;
}

img {
	width: 100%;
    display: block;
}
    
figure {
    margin: 0 auto 1.5rem; 
    width: 100%; 
}

figcaption { 
    font-size: .75rem;
    margin: .5rem 0 0;
}

footer {
    overflow: hidden;
    margin: 0 0 0;
    background-image: url(../images/header.jpg); 
    background-size: 100%;
    background-repeat: no-repeat; 
}

footer p {
    font-size: .75rem;
    margin: .5rem 5% 5rem;
    color: white;
}

footer a {
    color: white;    
}